<div class="animated fadeIn dt" #dtContainer>
  <div class="row mx-auto my-2">
    <form class='col-md-3 input-group my-2'>
      <input type="text" class="form-control" placeholder='Search...' [(ngModel)]='searchModel' />
      <div class="input-group-append">
        <button class="input-group-text cursor-pointer btn-light" (click)='search()'>
          <span class="fas fa-search"></span>
        </button>
      </div>
    </form>
  </div>
  <div class='row mx-auto'>
    <p class='h3 text-muted text-light ml-auto'>Total: {{pagination.total}}</p>
  </div>
  <div class='card'>
    <div class='card-header'>
      Permissions
    </div>
    <div class='card-body p-0'>
      <ngx-datatable class="material striped" [rows]="data" [columns]="[
        { name: 'name' },
        { description: 'description' }
      ]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="43" [externalPaging]="true"
        [count]="pagination.total" [offset]="getOffsetFromPagination()" [limit]="pagination.per_page"
        (page)="setPage($event)">

        <ngx-datatable-column name="Name" [flexGrow]="3" [minWidth]="200">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Description" [flexGrow]="3" [minWidth]="200">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>