<div class="animated fadeIn row dt" #dtContainer>
  <div class="col-sm-12 ml-auto my-2">
    <button class="float-right btn btn-success ml-2" routerLink="assign">
      <i class="fa fa-plus"></i> Assign permissions
    </button>
  </div>
  <div class="col-sm-12">
    <ngx-datatable
      class="material striped"
      [rows]="data"
      [columns]="[
        { select: 'select'},
        { name: 'name' },
        { description: 'description' }
      ]"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="43"
      [externalPaging]="true"
      [count]="pagination.total"
      [offset]="getOffsetFromPagination()"
      [limit]="pagination.per_page"
      (page)="setPage($event)"
    >
      <ngx-datatable-column name="" [flexGrow]="3" [maxWidth]="40" [sortable]="false">
        <ng-template let-value="row.id" ngx-datatable-cell-template>
          <input type='checkbox' (change)='onListItemCheckBoxChange($event, value)'>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Name" [flexGrow]="3" [minWidth]="200">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Description" [flexGrow]="3" [minWidth]="200">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
