<div class="animated fadeIn dt" #dtContainer>
  <div class="row">
    <div class="col-md-3">
      <form class='input-group'>
        <input type="text" class="form-control" placeholder='Search...' [(ngModel)]='searchModel' />
        <div class="input-group-append">
          <button class="input-group-text cursor-pointer btn-light" (click)='search()'>
            <span class="fas fa-search"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-12 my-2">
      <span class='pull-right'>Total: {{pagination.total}}</span>
    </div>
  </div>
  <div class='card'>
    <div class='card-header'>
      <strong>PERMISSIONS</strong>
    </div>
    <div class='card-body p-0'>
      <ngx-datatable class="material" [rows]="data" [columns]="[
        { name: 'name' },
        { description: 'description' }
      ]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="43" [externalPaging]="true"
        [count]="pagination.total" [offset]="getOffsetFromPagination()" [limit]="pagination.per_page"
        [selected]="selectedPermissions" [selectionType]="'checkbox'" (activate)="onActivate($event)" 
        (select)="onSelect($event)" (page)="setPage($event)">
            <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true"
          ></ngx-datatable-column>

        <ngx-datatable-column name="Name" [flexGrow]="3" [minWidth]="200">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Description" [flexGrow]="3" [minWidth]="200">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>