<div class="animated fadeIn row" @RouterTransition>
    <div class="col-md-8 text-center mx-auto">
        <div class="card">
            <div class="card-header">
                Assign a Permission
            </div>
            <form novalidate autocomplete="off" [formGroup]='formGroup' class="card-body p-2" #assignForm>
                <div *ngIf='roles.length > 0 && perms.length > 0; else viewLoadingData' class="form-group">
                    <select formControlName='roleId' class="form-control mt-2" (change)='onRoleDropDownChange($event)'>
                        <option disabled hidden selected value=''>Select Role... </option>
                        <option *ngFor='let role of roles' value='{{role.id}}'>{{role.name}} - {{role.display_name}}
                        </option>
                    </select>
                    <div [ngClass]='formGroup.controls["roleId"].valid? "d-block": "d-none"'>
                        <div class='row m-2' *ngFor='let perm of perms'>
                            <label class=''>{{perm.name}}</label>
                            <label class="switch switch-label switch-pill switch-primary ml-auto">
                                <input type="checkbox" class="switch-input" (change)='onCheckChange($event, perm.id)'
                                    name='{{perm.id}}'>
                                <span data-checked="✓" data-unchecked="✕" class="switch-slider"></span>
                            </label>
                        </div>
                    </div>
                    <div *ngIf='formGroup.controls["roleId"].invalid' class='text-muted'>Choose a role to continue...
                    </div>
                    <label *ngIf='formGroup.dirty && formGroup.touched && formGroup.invalid'
                        class='text-danger text-right mt-2'>Please select at least one permission.
                    </label>
                    <div class='row mx-auto mt-2'>
                        <button class="col-md-4 btn-block btn btn-primary mx-auto" [disabled]='formGroup.invalid' (click)='attach()'>
                            Attach
                        </button>
                        <button class="col-md-4 btn-block btn btn-danger mx-auto" [disabled]='formGroup.invalid' (click)='detach()'>
                            Detach
                        </button>
                    </div>
                </div>
                <ng-template #viewLoadingData><i class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>
                </ng-template>
            </form>
        </div>
    </div>
</div>