<form
  class="form-horizontal"
  autocomplete="off"
  #changeTenantForm="ngForm"
  (ngSubmit)="save()"
>
  <app-modal-header
    [title]="'ChangeTenant' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></app-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="name"
          maxlength="64"
        />
      </div>
    </div>
    <span>
      <i class="fa fa-info-circle"></i>
      {{ "LeaveEmptyToSwitchToHost" | localize }}
    </span>
  </div>
  <app-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!changeTenantForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></app-modal-footer>
</form>
