<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Users</div>
        <div class="card-body">
          <div class="row my-2 mx-auto">
            <select class="form-control col-md-3  my-2" (change)="onDropDownChange($event)">
              <option value="all" selected [disabled]="selected != 'admins' && selected != 'clients'">
                All users
              </option>
              <option value="admins" [disabled]="selected == 'admins'">
                Admins
              </option>
              <option value="clients" [disabled]="selected == 'clients'">
                Clients
              </option>
            </select>
            <form class='col-md-3 input-group my-2'>
              <input type="text" class="form-control" placeholder='Search...' [(ngModel)]='searchModel' />
              <div class="input-group-append">
                <button class="input-group-text cursor-pointer btn-light" (click)='search()'>
                  <span class="fas fa-search"></span>
                </button>
              </div>
            </form>
            <div class="col-md-6 ml-auto my-2">
              <button class="float-right btn btn-success ml-2" routerLink="create">
                <i class="fa fa-plus"></i> Create user
              </button>
              <button class="float-right btn btn-danger ml-2" [disabled]="selectedItemIds.length == 0">
                <i class="fa fa-trash"></i> Delete user
              </button>
              <button class="float-right btn btn-primary ml-2" [disabled]="selectedItemIds.length != 1"
                (click)="edit()">
                <i class="fa fa-edit"></i> Edit user
              </button>
            </div>
          </div>
          <div class="row dt" #dtContainer>
            <div class="col-sm-12">
              <ngx-datatable class="material striped" [rows]="data" [columns]="[
                  { name: 'Select' },
                  { name: 'name' },
                  { name: 'gender' },
                  { name: 'email' }
                ]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="43"
                [externalPaging]="true" [count]="pagination.total" [offset]="getOffsetFromPagination()"
                [limit]="pagination.per_page" (page)="setPage($event)">
                <ngx-datatable-column name="☑" [flexGrow]="3" [maxWidth]="40" [sortable]="false">
                  <ng-template let-value="row.id" ngx-datatable-cell-template>
                    <input type="checkbox" (change)="onListItemCheckBoxChange($event, value)" />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name" [flexGrow]="3" [minWidth]="200">
                  <ng-template let-value="value" let-row='row' ngx-datatable-cell-template>
                    <a routerLink='edit/{{row.id}}'>@{{ value }}</a>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Email" [flexGrow]="3" [minWidth]="200">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Gender" [flexGrow]="1">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span class="mobile-hidden">{{ column.name }} </span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>