<div *ngIf="!config.hidden" class="form-group" [formGroup]="formGroup">
  <label>{{ config.label }}</label>
  <select
    class="form-control"
    [ngClass]="getFormClasses()"
    [formControlName]="config.name"
    [disabled]="config.disabled"
    (click)="click($event)"
    (change)="change($event)">
    <option disabled selected value="">{{ config.placeholder }}</option>
    <option *ngFor="let option of config.options" [value]="option.value">
      {{ option.name }}
    </option>
  </select>
  <div *ngIf="config.invalidMessage" class="invalid-feedback">
    {{config.invalidMessage}}
  </div>
</div>
