
<form
  novalidate
  autocomplete="off"
  [formGroup]="formGroup"
  (ngSubmit)="create()"
>
  <div class="animated fadeIn row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Create a City</strong>
        </div>
        <div class="card-body p-2">
          <div>
            <label>Country ID</label>
            <input
              formControlName="countryId"
              class="form-control"
              [ngClass]="getFormClasses('countryId')"
              placeholder="Country ID..."
            />
            <div class="invalid-feedback">Please enter an ID</div>
          </div>
          <div class="mt-2">
            <label>State ID</label>
            <input
              formControlName="stateId"
              class="form-control"
              [ngClass]="getFormClasses('stateId')"
              placeholder="State ID..."
            />
            <div class="invalid-feedback">Please enter an ID</div>
          </div>
          <div class="mt-2">
            <label>Name</label>
            <input
              formControlName="name"
              class="form-control"
              [ngClass]="getFormClasses('name')"
              placeholder="Name..."
            />
            <div class="invalid-feedback">Please enter a name</div>
          </div>
          <div class="mt-2">
            <label>Latitude</label>
            <input
              formControlName="latitude"
              class="form-control"
              [ngClass]="getFormClasses('latitude')"
              placeholder="Latitude..." 
              min="-90"
              max="90"
            />
            <div class="invalid-feedback">Invalid latitude</div>
          </div>
          <div class="mt-2">
            <label>Longitude</label>
            <input
              formControlName="longitude"
              class="form-control"
              [ngClass]="getFormClasses('longitude')"
              placeholder="Longitude..."
              min="-180"
              max="180"
            />
            <div class="invalid-feedback">Invalid longitude</div>
          </div>
          <button
            type="submit"
            name=""
            id=""
            class="btn btn-primary btn-block mt-3"
            [disabled]="formGroup.invalid"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
