<form
  novalidate
  autocomplete="off"
  [formGroup]="formGroup"
  (ngSubmit)="create()"
>
  <div class="animated fadeIn row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Create a City</strong>
        </div>
        <div class="card-body p-2">
          <div class="form-group">
            <label>Country</label>
            <select
              formControlName="countryId"
              class="form-control"
              [ngClass]="getFormClasses('countryId')"
              (change)="onCountryInputChange($event)"
              [disabled]="countries.length === 0"
            >
              <option disabled selected value="">Select Country...</option>
              <option *ngFor="let country of countries" [value]="country.id">
                {{ country.name }}
              </option>
            </select>
            <div class="invalid-feedback">Please select a valid country</div>
          </div>
          <div class="form-group" *ngIf="states && states.length > 0">
            <label>State</label>
            <select
              formControlName="stateId"
              class="form-control"
              [ngClass]="getFormClasses('stateId')"
              [disabled]="states.length === 0"
            >
              <option disabled selected value="">Select State...</option>
              <option *ngFor="let state of states" [value]="state.id">
                {{ state.name }}
              </option>
            </select>
            <div class="invalid-feedback">Please select a valid state</div>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input
              formControlName="name"
              class="form-control"
              [ngClass]="getFormClasses('name')"
              placeholder="Name..."
            />
            <div class="invalid-feedback">Please enter a name</div>
          </div>
          <div class="form-group">
            <label>Latitude</label>
            <input
              formControlName="latitude"
              class="form-control"
              [ngClass]="getFormClasses('latitude')"
              placeholder="Latitude..."
              min="-90"
              max="90"
            />
            <div class="invalid-feedback">Invalid latitude</div>
          </div>
          <div class="form-group">
            <label>Longitude</label>
            <input
              formControlName="longitude"
              class="form-control"
              [ngClass]="getFormClasses('longitude')"
              placeholder="Longitude..."
              min="-180"
              max="180"
            />
            <div class="invalid-feedback">Invalid longitude</div>
          </div>
          <button
            type="submit"
            name=""
            id=""
            class="btn btn-primary btn-block mt-3"
            [disabled]="formGroup.invalid || statesLoading || countriesLoading"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
