<div #dtContainer>
  <div class='col-sm-12 my-2 row'>
    <button class='ml-auto btn btn-danger' [disabled]='selectedItemIds.length < 1'
      (click)='revokePermissions()'>
      <i class='fa fa-chain-broken'></i> Revoke
    </button>
  </div>
  <ngx-datatable class="material striped" [rows]="data" [columns]="[
        { select: 'select'},
        { name: 'name' },
        { description: 'description' }
      ]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="43">
    <ngx-datatable-column name=" " [flexGrow]="3" [maxWidth]="40" [sortable]="false">
      <ng-template let-value="row.id" ngx-datatable-cell-template>
        <input type='checkbox' (change)='onListItemCheckBoxChange($event, value)'>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Name" [flexGrow]="3" [minWidth]="200">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Description" [flexGrow]="3" [minWidth]="200">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>