// Here you can add other styles
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '_datatable.scss';
@import '_tabs.scss';
@import '_cards.scss';
@import '_forms.scss';

body {
  background-color: $cartesian-light;
}

.cursor-pointer {
  cursor: pointer;
}

b,
strong {
  font-weight: bold;
}
