
<form
novalidate
autocomplete="off"
[formGroup]="formGroup"
(ngSubmit)="create()"
>
<div class="animated fadeIn row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Create a Country</strong>
      </div>
      <div class="card-body p-2">
        <div class="form-group">
          <label>Name</label>
          <input
            formControlName="name"
            class="form-control"
            [ngClass]="getFormClasses('name')"
            placeholder="Name..."
          />
          <div class="invalid-feedback">Please enter a name</div>
        </div>
        <div class="form-group">
          <label>Native</label>
          <input
            formControlName="native"
            class="form-control"
            [ngClass]="getFormClasses('native')"
            placeholder="Native..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>Alpha 2</label>
          <input
            formControlName="alpha2"
            class="form-control"
            [ngClass]="getFormClasses('alpha2')"
            placeholder="Alpha 2..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>Alpha 3</label>
          <input
            formControlName="alpha3"
            class="form-control"
            [ngClass]="getFormClasses('alpha3')"
            placeholder="Alpha 3..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>ISD</label>
          <input
            formControlName="isd"
            class="form-control"
            [ngClass]="getFormClasses('isd')"
            placeholder="ISD..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>Capital</label>
          <input
            formControlName="capital"
            class="form-control"
            [ngClass]="getFormClasses('capital')"
            placeholder="Capital..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>Currency</label>
          <input
            formControlName="currency"
            class="form-control"
            [ngClass]="getFormClasses('currency')"
            placeholder="Currency..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>Continent</label>
          <input
            formControlName="continent"
            class="form-control"
            [ngClass]="getFormClasses('continent')"
            placeholder="Continent..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>Subcontinent</label>
          <input
            formControlName="subcontinent"
            class="form-control"
            [ngClass]="getFormClasses('subcontinent')"
            placeholder="Subcontinent..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>Emoji</label>
          <input
            formControlName="emoji"
            class="form-control"
            [ngClass]="getFormClasses('emoji')"
            placeholder="Emoji..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>
        <div class="form-group">
          <label>Emoji Unicode</label>
          <input
            formControlName="emojiUnicode"
            class="form-control"
            [ngClass]="getFormClasses('emojiUnicode')"
            placeholder="Emoji Unicode..." 
          />
          <div class="invalid-feedback">Invalid value</div>
        </div>

        <button
          type="submit"
          name=""
          id=""
          class="btn btn-primary btn-block mt-3"
          [disabled]="formGroup.invalid"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
</form>
